{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="style/table.css">
{% endblock %}

{% block javascripts %}
    document.getElementById('campusSelectionne').addEventListener('change', function() {
         var campusId = this.value;
        // Requête AJAX pour récupérer les événements associés au campus sélectionné
        $.ajax({
            url: '/liste-sortie',
            method: 'GET',
            data: { campusId: campusId },
            success: function(response) {
                // Mettre à jour le tableau des événements avec les données reçues
                document.getElementById('listeSorties').innerHTML = response;
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });

    /* script recherche d'un élément dans le nom des sorties  */
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    $(document).ready(function(){
        $("#champRecherche").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#listeSorties tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

{% endblock %}

{% block body %}
    <!--div d'info-->
    <div>
        <p> Date du jour : {{ "now"|date("d/m/Y") }} </p>
        <p> Participant :   </p>
    </div>
    <!--div du filtre-->
    <div>
        <!--Liste déroulantes des campus-->
        <label for="campusSelectionne">Campus : </label>
        <select name="campus" id="campusSelectionne">
            {% for campus in campuses %}
                <option value="campus_{{ campus['id'] }}">{{ campus['c_nom'] }}</option>
            {% endfor %}
        </select>
        <!--Recherche d'un élément dans le nom des sorties-->
        <p>
            <label for="champRecherche"> Le nom de la sortie contient : </label>
            <input type="text" name="champRecherche" id ="champRecherche">
        </p>
        <!--recherche par date -->
        <p>
            Entre <input type="date" name="rechercheDateMin" id="rechercheDateMin">
            et <input type="date" name="rechercheDateMax" id="rechercheDateMax">
        </p>
        <!--différents filtres -->
        <fieldset>
            <div>
                <input type="checkbox" id="etreOrganisteur" name="etreOrganisteur"/>
                <label for="etreOrganisteur">Sorties dont je suis l'organisateur/trice</label>
            </div>

            <div>
                <input type="checkbox" id="etreInscrit" name="etreInscrit" />
                <label for="etreInscrit">Sorties auxquelles je suis inscrit/e</label>
            </div>

            <div>
                <input type="checkbox" id="nonInscrit" name="nonInscrit" checked/>
                <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>

            <div>
                <input type="checkbox" id="passee" name="passee" />
                <label for="passee">Sorties passées</label>
            </div>
        </fieldset>
    </div>
    <!--div du tableau-->
    <div>
        <!--tableau dans morceaux/table_sorties.html.twig, rechargé par ajax-->
        <table id="listeSorties">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% block listeSorties %}{% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}