{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="style/table.css">
{% endblock %}

{% block javascripts %}
    document.getElementById('campusSelectionne').addEventListener('change', function() {
        var campusId = this.value;
        // Requête AJAX pour récupérer les événements associés au campus sélectionné
        $.ajax({
            url: '/liste-sortie',
            method: 'GET',
            data: { campusId: campusId },
            success: function(response) {
                // Mettre à jour le tableau des événements avec les données reçues
                document.getElementById('listeSorties').innerHTML = response;
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
{% endblock %}

{% block body %}
    <!--div d'info-->
    <div>
        Date du jour : {{ date("d/m/Y") }}
        Participant :
    </div>
    <!--div du filtre-->
    <div>
        <label for="campusSelectionne">Campus : </label>
        <select name="campus" id="campusSelectionne">
            {% for campus in campuses %}
                <option value="{{ campus.id }}">{{ campus.c_nom }}</option>
            {% endfor %}
        </select>

    </div>
    <!--div du tableau-->
    <div>
        <!--tableau dans morceaux/table_sorties.html.twig, rechargé par ajax-->
        <table id="listeSorties">

        </table>
    </div>
{% endblock %}